{% extends "base.html" %} 
{% block title %} Оставить заявку {% endblock %}
{% block content %} 
{% load widget_tweaks %}
    <div class="row">
        <div class="panel col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
            <div class="modal-header">
                <h4>Создание заявки</h4>
            </div>
            <div class="modal-body">    
                <form action="{% url 'req_create' %}" method="POST" id="edit_form">
                    {% load widget_tweaks %} {% csrf_token %}

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label for="{{ form.client.id_for_label }}">Заявитель</label> 
                            {% render_field form.client class="form-control"%}
                            {{form.client.errors}}
                        </div>
                        <div class="col-sm-3">
                            <label for="{{ form.structure.id_for_label }}">Корпус</label>
                            {% render_field form.structure class="form-control" %}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.office.id_for_label }}">Кабинет</label> {% render_field form.office class="form-control" %}
                            {{form.office.errors}}
                        </div>

                        <div class="col-sm-3">
                            <label for="{{ form.phone_number.id_for_label }}">Телефон</label> {% render_field form.phone_number class="form-control " %}
                            {{form.phone_number.errors}}                        
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12"> {% render_field form.comments class="form-control " placeholder="Комментарии" %}</div>
                    </div>
                    
                    <div class="row form-group">
                        <div class="col-sm-12"> {% render_field form.tasks %}</div>
                    </div>
                    {{form.tasks.errors}}
                    <hr>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="buttonSave">Save changes</button>
                    </div>
                    <input hidden type="text" name="page" value="">
                </form>
            </div>  
        </div>
    </div>
    {% comment %}</div>{% endcomment %} {% endblock%}